.form__max-width {
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
.dashboard {
  display: flex;
}
.dashboard__sidebar {
  background-color: rgb(0, 0, 0);
  color: white;
  width: max-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex: 0.1;
}
.dashboard__sidebar--top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard__sidebar--top > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.dashboard__content {
  padding: 20px;
  flex: 0.9;
  background-color: aliceblue;
}
.stats {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.stat_card {
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}
.stat_card:nth-child(2) {
  background-color: red;
}
.stat_card:nth-child(3) {
  background-color: rgb(0, 26, 255);
}
.stat_card > p {
  font-size: 25px;
  font-weight: 500;
}
.stat_card > span {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
